.clubPreview {
  display: flex;
  justify-content: center;
  align-items: center;

  .table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .logo {
      height: 2rem;
      width: 2rem;
      margin-right: 2rem;
    }
  }
}
