$color-white: #FFF;
$color-grey-light: #FAFAFA;
$color-black: #000;

$color-daocreator-green: #1976d2;
$color-daocreator-grey-dark: #3D483E;
$color-daocreator-grey-light: #CDD1CD;
$color-daocreator-grey-light2: #9EA39E;
$color-daocreator-black: #1D1E1D;
