$fontFamilyBody: 'Inter', sans-serif;
$fontFamilyCode: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New';

$fontWeightBold: 600;
$fontWeightMedium: 400;

$fontSizeBase: 10px;
$fontSize11: 1.1rem;
$fontSize14: 1.4rem;
$fontSize16: 1.6rem;
