.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;

  .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 12rem;
  }
}
